<link rel="stylesheet" href="/stylesheets/custom.css" />
<h2 style="color:black;text-align: center; font-family: 'Tahoma';">
    {{#if isMatches }}
        {{ searched.location }}:
    {{else}}
        No matches have been found for destination  {{ searched.location }}
    {{/if}}
</h2>

{{#each articles}}
    <h2 style="color:black;text-align: center; font-family: 'Tahoma';">{{ this.title }}</h2>
    <div style="border: 4px ridge grey; margin: 15px; padding: 10px; border-radius: 15px; background: snow">
        <div class="article-container" style="display: inline-block;">
            <div style="display: inline-block; float: left;">
                <a href="/article/view/{{this.id}}">
                    <img src="/{{this.firstImage}}" alt="Article pic" height="180" width="180"
                         class="wrap align-right">
                </a>
            </div>

            <div style=" color: black; padding-left: 10px; display:inline-block; float: left; font-size: large">
                <p><b>Price: </b><span style="color:red"><b>{{this.price}} lv.</b></span></p>
                <p><b>Adress:</b> TODO ADDRESS !!! </p>
                <b>Contacts:</b> phone {{this.contactPhone}}
                <span style="margin: 20px"><b>E-mail: </b> {{this.contactEmail}} </span>
                {{#if this.contactURL}}
                    <span style="margin: 20px"><b>Web site: </b>
                    <a href="{{this.contactURL}}" target="_blank">{{this.contactURL}}</a>
                </span>
                {{/if}}

                <p>
                    <b>Ratting:</b>&nbsp;
                    <span class="score">
                        <input type="radio" id="score-5" name="score" value="5"/>
                        <label title="5 stars" for="score-5">5 stars</label>

                        <input type="radio" id="score-4" name="score" value="4"/>
                        <label title="4 stars" for="score-4">4 stars</label>

                        <input type="radio" id="score-3" name="score" value="3"/>
                        <label title="3 stars" for="score-3">3 stars</label>

                        <input type="radio" id="score-2" name="score" value="2"/>
                        <label title="2 stars" for="score-2">2 stars</label>

                        <input type="radio" id="score-1" name="score" value="1"/>
                        <label title="1 stars" for="score-1">1 stars</label>
                    </span>
                </p>
                <p>
                    <a href="/article/view/{{this.id}}" class="button"><b>More Info</b></a><br>
                </p>
            </div>
        </div>
    </div>
{{/each}}

