<link rel="stylesheet" href="/stylesheets/custom.css" />
<h2 id="articleSearchRezult">
    {{#if isMatches }}
        {{ searched.location }}:
    {{else}}
        No matches have been found for destination  {{ searched.location }}
    {{/if}}
</h2>

{{#each articles}}
    <h2 id="articleSearchRezult">{{ this.title }}</h2>
    <div id="mainDivMIPage">
        <div class="article-container" style="display: inline-block;">
            <div id="moreInfoPictures">
                <a href="/article/view/{{this.id}}">
                    <img src="/{{this.firstImage}}" alt="Article pic" id="articleImage" class="wrap align-right">
                </a>
            </div>

            <div id="articlesContentInfo">
                <p><b>Price: </b><span id="articlesPrices"><b>{{this.price}} lv.</b></span></p>
                <p><b>Adress:</b> {{this.address}}</p>
                <b>Phone:</b> {{this.contactPhone}}
                <span id="articlesInfos"><b>E-mail: </b> {{this.contactEmail}} </span>
                {{#if this.contactURL}}
                    <span id="articlesInfos"><b>Web site: </b>
                    <a href="/{{this.contactURL}}" target="_blank">{{this.contactURL}}</a>
                </span>
                {{/if}}

                <p>
                    <b>Ratting:</b>&nbsp;
                    <span class="score" id="stars">
                        <input type="radio" id="score-5" name="score" value="5"/>
                        <label title="5 stars" for="score-5">5 stars</label>

                        <input type="radio" id="score-4" name="score" value="4"/>
                        <label title="4 stars" for="score-4">4 stars</label>

                        <input type="radio" id="score-3" name="score" value="3"/>
                        <label title="3 stars" for="score-3">3 stars</label>

                        <input type="radio" id="score-2" name="score" value="2"/>
                        <label title="2 stars" for="score-2">2 stars</label>

                        <input type="radio" id="score-1" name="score" value="1"/>
                        <label title="1 stars" for="score-1">1 stars</label>
                    </span>
                </p>
                <p>
                    <a class="btnCreateNew" href="/article/view/{{this.id}}" ><b>More Info</b></a><br>
                </p>
            </div>
        </div>
    </div>
{{/each}}

