<main>
    <div id="well">
        <h2>All Extras -
            <a href="/admin/extra/create" class="btnCreateNew">Create New</a>
        </h2>
        <div class="row">
            <table class="table table-striped table-hover ">
                <thead>
                <tr>
                    <th id="thId">#</th>
                    <th id="thId2">Name</th>
                </tr>
                </thead>
                <tbody>
                {{#each extras}}
                    <tr>
                        <td>{{ this.id }}</td>
                        <td>{{ this.name }}</td>
                        <td id="tdNoBgColor">
                            <a id="extrasEditBt" href="/admin/extra/edit/{{this.id}}">Edit</a>
                            <a id="extrasDeleteBt" href="/admin/extra/delete/{{this.id}}">Delete</a>
                        </td>
                    </tr>
                    <tr>
                {{/each}}
                </tbody>
            </table>
            <div class="centerPagin">
                <ul class="pagination">
                    <li><a href="/editor/extra/all/page/1">«</a></li>
                    {{#each pages}}
                        <li><a href="/editor/extra/all/page/{{this}}">{{this}}</a></li>
                    {{/each}}
                    <li><a href="/editor/extra/all/page/{{lastPage}}">»</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>