<div class="container body-content">
    <div class="well">
        <h2>All Articles -
            <a href="/editor/article/create/step/1" class="btn btn-warning">Create New</a>
        </h2>
        <div class="row">
            <table class="table table-striped table-hover ">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {{#each articles}}
                    <tr>
                        <td>{{ this.title }}</td>
                        <td>{{ this.location.name }}</td>
                        <td>{{ this.author.email }}</td>
                        <td>
                            <a href="/editor/article/edit/{{this.id}}/step/1">Edit</a>
                            <a  href="/editor/article/delete/{{this.id}}">Delete</a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>