<main>
    <form class="form-horizontal" id="form-horizontal4" method="post" action="/editor/article/create/step/4" autocomplete="on">
        <fieldset id="createArticleStep4">
            <legend id="createArticleExtras4">Create new Article - Enter Contacts</legend>
            <label for="inputEmail">Email</label>
            <input type="text" class="form-control" id="inputContactEmail" placeholder="Email"
                   name="inputContactEmail" value="{{ articleArgs.inputContactEmail }}" autofocus required>

            <label for="inputPhone">Phone Number</label>
            <input type="text" class="form-control" id="inputContactPhone" placeholder="Phone number" required
                   name="inputContactPhone" value="{{ articleArgs.inputContactPhone }}">

            <label for="inputWebSite">Web Site</label>
            <input type="text" class="form-control" id="inputContactWebSite" placeholder="Web Site"
                   name="inputContactWebSite" value="{{ articleArgs.inputContactWebSite }}">

            <div class="form-group">
                <button type="submit" class="btn-primary1" name="back" value="back">Back</button>
                <a href="/editor/article/all" class="btn-default" id="btn-default">Cancel</a>
                <button type="submit" class="btn-primary" id="btn-primary">Finish</button>
                <input type="hidden" name="inputTitle" value="{{ articleArgs.inputTitle }}">
                <input type="hidden" name="inputAddress" value="{{ articleArgs.inputAddress }}">
                <input type="hidden" name="inputPrice" value="{{ articleArgs.inputPrice }}">
                <input type="hidden" name="inputLocation" value="{{ articleArgs.inputLocation }}">
                <input type="hidden" name="inputDescription" value="{{ articleArgs.inputDescription }}">
                {{#each articleArgs.inputImages}}
                    <input type="hidden" name="inputImages" value="{{ this }}">
                {{/each}}
                {{#each articleArgs.inputExtras}}
                    <input type="hidden" name="inputExtras" value="{{ this }}">
                {{/each}}
                <input type="hidden" name="id" value="{{ articleArgs.id }}">
            </div>
        </fieldset>
    </form>
</main>