<main>
    <form class="form-horizontal" id="form-horizontal3" method="post" action="/editor/article/create/step/3" autocomplete="on">
        <fieldset id="createArticleStep3">
            <legend id="createArticleExtras3">Create new Article - Add Extras</legend>
            <label for="inputExtras">Extras</label>

                {{#each extras}}
            <div id="checkboxes">
                <span><input type="checkbox" id="role" name="inputExtras" value="{{ this.id }}"{{#if this.checked }} checked {{/if}}/>{{ this.name }}</input></span>
            </div>
                {{/each}}

            <div class="form-group" id="form-group2" >
                <button type="submit" class="btn-primary1" name="back" value="back">Back</button>
                <a href="/editor/article/all" class="btn-default" id="btn-default">Cancel</a>
                <button type="submit" class="btn-primary" id="btn-primary">Next</button>

                <input type="hidden" name="inputTitle" value="{{ articleArgs.inputTitle }}">
                <input type="hidden" name="inputPrice" value="{{ articleArgs.inputPrice }}">
                <input type="hidden" name="inputLocation" value="{{ articleArgs.inputLocation }}">
                <input type="hidden" name="inputDescription" value="{{ articleArgs.inputDescription }}">
                {{#each articleArgs.inputImages}}
                    <input type="hidden" name="inputImages" value="{{ this }}">
                {{/each}}
                <input type="hidden" name="inputContactEmail" value="{{ articleArgs.inputContactEmail }}">
                <input type="hidden" name="inputContactPhone" value="{{ articleArgs.inputContactPhone }}">
                <input type="hidden" name="inputContactWebSite" value="{{ articleArgs.inputContactWebSite }}">
                <input type="hidden" name="id" value="{{ articleArgs.id }}">
            </div>
        </fieldset>
    </form>
</main>