<main>
    <form class="form-horizontal"  id="upload-photos" method="post" action="/editor/article/create/step/2" autocomplete="on">
        <fieldset id="createArticleStep2">
            <legend>Create new Article - Add Photos</legend>
            <label for="inputImages">Add Images</label>
            <br />
            <br />
            <br />
            <br />
            <input type="file" multiple="multiple" name="notUsed" id="photos-input">
            <!-- Progress Bar -->
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    <span class="sr-only"></span>
                </div>
            </div>
            <!-- END Progress Bar -->

            <!-- Photos Album Container -->
            <div id="album" class="row">
                {{#each articleArgs.inputImages}}
                    <div class="col-xs-6 col-md-4" id="{{ this }}">
                        <img src="/{{ this }}" alt="{{ this }}">
                        <span class="close" id="{{ this }}"></span>
                    </div>
                {{/each}}
            </div>

            <div class="form-group" id="form-group">
                <button type="submit" class="btn-primary1" name="back" value="back">Back</button>
                <a class="btn btn-default" href="/editor/article/all">Cancel</a>
                <button type="submit" class="btn-primary" id="btn-primary">Next</button>

                <input type="hidden" name="inputTitle" value="{{ articleArgs.inputTitle }}">
                <input type="hidden" name="inputAddress" value="{{ articleArgs.inputAddress }}">
                <input type="hidden" name="inputPrice" value="{{ articleArgs.inputPrice }}">
                <input type="hidden" name="inputLocation" value="{{ articleArgs.inputLocation }}">
                <input type="hidden" name="inputDescription" value="{{ articleArgs.inputDescription }}">
                {{#each articleArgs.inputImages}}
                    <input type="hidden" name="inputImages" value="{{ this }}">
                {{/each}}
                {{#each articleArgs.inputExtras}}
                    <input type="hidden" name="inputExtras" value="{{ this }}">
                {{/each}}
                <input type="hidden" name="inputContactEmail" value="{{ articleArgs.inputContactEmail }}">
                <input type="hidden" name="inputContactPhone" value="{{ articleArgs.inputContactPhone }}">
                <input type="hidden" name="inputContactWebSite" value="{{ articleArgs.inputContactWebSite }}">
                <input type="hidden" name="id" value="{{ articleArgs.id }}">
            </div>
        </fieldset>
    </form>
</main>

<script type="text/javascript" src="/javascripts/uploadAJAX.js"></script>