<main>
    <form class="form-horizontal" id="form-horizontal2" method="post" action="/editor/article/create/step/1" autocomplete="on">
        <fieldset id="createArticleStep1">
            <legend id="createArticleLegend">Create new Article - Enter Details</legend>
            <label for="inputTitle">Title</label>
            <input type="text" class="form-control" id="inputTitle" placeholder="Title" name="inputTitle" value="{{ articleArgs.inputTitle }}" autofocus required>

            <label for="inputPrice">Price</label>
            <input type="text" class="form-control" id="inputPrice" placeholder="Price" required name="inputPrice" value="{{ articleArgs.inputPrice }}">

            <label for="inputLocation">Location</label>
            <input type="text" class="form-control" id="inputLocation" placeholder="Location" required name="inputLocation" value="{{ articleArgs.inputLocation }}">

            <label for="Description">Description</label>
            <textarea class="form-control" id="inputDescription" rows="5" required name="inputDescription">{{ articleArgs.inputDescription }}</textarea>

            <div class="form-group">
                <a class="btn-default" id="btn-default" href="/editor/article/all">Cancel</a>
                <button type="submit" class="btn-primary" id="btn-primary">Next</button>

                {{#each articleArgs.inputImages}}
                    <input type="hidden" name="inputImages" value="{{ this }}">
                {{/each}}
                {{#each articleArgs.inputExtras}}
                    <input type="hidden" name="inputExtras" value="{{ this }}">
                {{/each}}
                <input type="hidden" name="inputContactEmail" value="{{ articleArgs.inputContactEmail }}">
                <input type="hidden" name="inputContactPhone" value="{{ articleArgs.inputContactPhone }}">
                <input type="hidden" name="inputContactWebSite" value="{{ articleArgs.inputContactWebSite }}">
                <input type="hidden" name="id" value="{{ articleArgs.id }}">
            </div>
        </fieldset>
    </form>
</main>